.container-fluid {
	padding:0px;

 border-left: 57px solid #CE8005;
 border-right: 57px solid #CE8005;
 border-image: asset-data-url('margin/left.png') 0 50 0 50 round ;

}


.navbar-fixed-top{
	height:57px;
	background-image: asset-data-url("margin/up.png");
}

.navbar-fixed-bottom{
		height:57px;
			background-image: asset-data-url("margin/down.png");
}



@media(max-width:1400px){
	.container-fluid {
		padding:0px;
	 border-left: 57px solid #CE8005;
	 border-right: 57px solid #CE8005;
	 border-image: asset-data-url('margin/left.png') 0 50 0 50 round ;
	    width:100%;
	    height:100%;


	    overflow:hidden;
		position:absolute; 
		overflow:scroll; 
		-webkit-overflow-scrolling: touch; 
		top:0; left:0; bottom:0; right:0
	}

	.img-responsive {
	    position:absolute;
	    top:100%;
	    min-height:100%;
	    display:block;
	    left:100%;
	    -webkit-transform: translate(-50%, -50%);
	    min-width:100%;
	}
}


.buttons { 
	margin: 40px 0 0; 
	position: fixed; top: 100px; left: 100px
}

#nav{
	width:100%;
	height:50px;
	background-image: asset-data-url('margin/up.png');
}

.mapa {
    width: 3026px;
}