<!-- Navs just for border's sake -->

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">

  </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom"></nav>

    	
    <div class="container-fluid"  id="map">
	 
    <!-- /.container -->
