	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container" id="nav">

	  </div>
	

    <!-- Page Content -->
    <div class="container-fluid">

        <div class="row" id="scroll">
            
                <%= image_tag "mapa.jpg", :class=>"mapa"%>
	        <div class="buttons">
				
	          <button class="zoom-in">Zoom In</button>
	          <button class="zoom-out">Zoom Out</button>
	          <input type="range" class="zoom-range">
	          <button class="reset">Reset</button>
	        </div>
	      
        </div>
        <!-- /.row -->
	        
    </div>
    <!-- /.container -->
</nav>